<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Projects</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <header class="row">
      <h1>
        <div class="padded">
          Garret Sheets' Website
        </div>
      </h1>
    </header>

    <nav class="row navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="mymenu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="navlink" href="/home">Home</a></li>
          <li><a class="navlink" href="/about">About Me</a></li>
          <li><a class="navlink" href="/resume">Resume</a></li>
          <li><a class="navlink" href="/projects">Projects</a></li>
          <li><a class="navlink" href="/contact">Contact</a></li>
          <li><a class="navlink" href="/form">Form</a></li>
        </ul>
      </div>
    </nav>

    <center>
      <main class="row">
        <h1>Projects</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through projects from the database and display them -->
            {% for project in projects %}
              <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>
                  <img src="{{ url_for('static', filename=project.image_filename) }}" alt="Project Image">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    </center>

    <footer class="row">
      <p></p>
    </footer>

  </div>
</body>

</html>