<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Resume</title>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <header class="row">
  <h1>
    <div class="padded">
      Garret Sheets' Website
    </div>
    </h1>
  </header>

  <nav class="row navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle"  data-toggle="collapse" data-target="#mymenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="mymenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="navlink" href="/home">Home</a></li>
        <li><a class="navlink" href="/about">About Me</a></li>
        <li><a class="navlink" href="/resume">Resume</a></li>
        <li><a class="navlink" href="/projects">Projects</a></li>
        <li><a class="navlink" href="/contact">Contact</a></li>
        <li><a class="navlink" href="/form">Form</a></li>
      </ul>
    </div>
  </nav>

  <center>
  <main class="row">
  <h1>Resume</h1>

  <div class="homepagebox">
    <img src="/static/images/resume.jpg">
  </div>

  </main>
  </center>

  <footer class="row">
    <p></p>
  </footer>


  </div>
</body>

</html>